/* Portfolio Section */
.portfolio {
    text-align: center;
    padding: 2rem 5%;
}

/* Portfolio Grid */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem 5%;
}

/* Portfolio Item */
.portfolio-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
}

/* Hover Effect */
.portfolio-item:hover {
    transform: scale(1.05);
}

/* Responsive Design */
/* @media (max-width: 768px) {
    .portfolio-grid {
      grid-template-columns: repeat(2, 1fr);
    } */